@model List<Course>

@{
    Layout = "_Layout";
}

<header class="panel-heading">
    <div class="panel-actions">
        <a href="#" class="fa fa-caret-down"></a>
        <a href="#" class="fa fa-times"></a>
    </div>
    <style>
        .container {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    </style>

    <div class="container">
        <h2 class="panel-title">课程列表</h2>
        <a href="/Course/CourseAdd" class="mb-xs mt-xs mr-xs btn btn-primary">增加课程</a>
    </div>
</header>

<div class="panel-body">
    <div class="table-responsive">
        <table class="table mb-none">
            <thead>
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>credit</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CourseId</td>
                    <td>@item.CourseName</td>
                    <td>@item.Credit</td>
                    <td class="actions">
                        <a href="/Course/CourseEdit?id=@item.CourseId"><i class="fa fa-pencil"></i></a>
                        <a href="/Course/CourseDelete?id=@item.CourseId" class="delete-row"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
            }
                            
            </tbody>
        </table>
    </div>
    
</div>

  
      
